@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --cor001: #ff9a6c;
  --cor002: #263138;
  --cor003: #ff725e;
  --cor004: rgba(255, 152, 108, 0.25);
  --fonte-padrao: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
  margin: 0px;
  padding: 0px;
}

header {
  background-color: var(--cor001);
  padding: 24px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  font-weight: 600;
  padding: 32px;
  text-decoration: none;
}

body {
  color: var(--cor002);
}

#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px 80px;
  position: relative;
}

h1,
h2 {
  font-weight: 600px;
  font-size: 32px;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.botao {
  background-color: var(--cor003);
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 8px;
}

.botaoTransparente {
  background-color: transparent;
  color: var(--cor003);
  padding: 16px 32px;
  text-underline-offset: 4px;
}

.absoluto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: -10;
}

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-bottom: 16px;
  margin-left: 32px;
}

#farmacia {
  padding: 64px 80px;
  text-align: center;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 2px solid var(--cor003);
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}

.duvida .paragrafo {
  border-right: 1px solid var(--cor003);
  border-bottom: 1px solid var(--cor003);
  border-left: 1px solid var(--cor003);
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 24px;
}

footer {
  background-color: var(--cor004);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600px;
  margin-bottom: 24px;
}

footer nav a {
  color: var(--cor002);
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p {
  margin-bottom: 16px;
  max-width: 350px;
}

footer p a {
  color: var(--cor002);
  text-decoration: none;
}

#copyright {
  background-color: var(--cor002);
  text-align: center;
  padding: 24px;
  color: white;
}

#copyright a {
  color: var(--cor001);
  text-decoration: none;
}
